
.header {
    display: block;
    height: 115px;
    background-color: #EE5263;
}

.footer {
    display: block;
    height: 65px;
    background-color: #EE5263;  
    z-index: 2;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.headerText {
    font-size: 40px;
    color: #fff;
    position: relative;
    top: 25px;
    left: 70px;
}

.footerText {
    font-size: 22px;
    color: #fff;
    position: relative;
    top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 294px;
}

#sidebar-wrapper {
    position: fixed;
    left: 294px;
    width: 0;
    height: 100%;
    margin-left: -294px;
    overflow-y: auto;
    background: #fff;
    border-right: 1px solid rgb(201,202,201);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 294px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -294px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 294px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    padding-bottom: 15px;
    padding-right: 8px;
    text-align: right;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 85px;
    font-size: 18px;
    line-height: 60px;
    padding-left: 180px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(201,202,201);
}

.sideBarRow {
     border-bottom: 1px solid rgb(201,202,201);
}

.button {
    display: inline;
    height: 19px;
    min-width: 120px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 16px;
    padding-left: 16px;
    text-align: center;
    font-size: 16px;
    background-color: #007aff;
    color: #fff;
    line-height: 16px;
    cursor: pointer;
}

.content {
    width: 95%;
    text-align: left;
}

.content > .contentHeader {
    font-size: 23px;
    color: rgb(69, 69, 69);
    height: 50px;
    border-bottom: 1px solid rgb(201,202,201);
}

.form {
    margin-top: 25px;
}

.buttonsSection {
    text-align: left;
    padding-top: 28px;
    margin-top: 24px;
    border-top: 1px solid rgb(201,202,201);
}

input.wide {
    width: 400px;
    height: 35px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border: 1px solid #A4A4A4;
    border-radius: 5px;
}

::-webkit-input-placeholder {
   color: #ccc;
   font-family: 'Roboto', sans-serif;
}

input:focus{
    outline: none;
}

.name {
    max-width: 115px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    top: 15px;
    left: -20px;
}

.sameLine {
    display: inline;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 294px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 294px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}